.portfolioFlex {
    display: flex;
    flex-flow: wrap;
}
.portfolioImg {
    width: 100%;
    padding: 30px;
}
.portfolioButtons {
    display: flex;
    padding: 5px;
    justify-content: center;
}
.folioButtons {
    margin-left: 10px;
    border-radius: 20px !important;
    color: #444 !important;
    border: 0px !important;
}
.folioButtons:hover {
    color: #fff !important;
    background-color: rgb(79, 79, 196) !important;
}
.portfolioCard {
    border : 0px !important;
    transition: transform .4s;
}
.portfolioCard:hover {
    transform: scale(1.1);
}
